{{/* Parameters      */}}
{{/* .context Page   */}}
{{/* .title   String */}}
{{- $title := .title | default "" -}}
{{- $heading_level := int (.params.heading | default 3) -}}
{{- $heading_title := printf "h%d" $heading_level -}}
{{- with .context.GetTerms "authors" -}}
    {{- range . -}}
<div class="col">
    <aside class="card h-100 widget widget-authors">
        <div class="card-body pb-4">
            {{- with $title -}}{{- (printf "<%s class=\"card-title\">%s</%s>" $heading_title . $heading_title) | safeHTML -}}{{- end -}}
            <div class="clearfix ">
                {{- $image := .Page.Resources.GetMatch .Params.Avatar -}}
                {{- with $image -}}
                <div class="author-picture" style="width={{- .Width }} height={{- .Height -}}">
                    <img src="{{- .RelPermalink -}}" width="{{- .Width -}}" height="{{- .Height -}}" alt="{{- .Params.Title -}}" />
                </div>
                {{- end -}}
                <div class="author-description" style="margin-left: {{ with $image -}}{{- math.Mul 1.2 .Width -}}px{{- end -}}">
                    <p class="author-name">{{- .Params.Title | safeHTML -}}</p>
                    <p class="author-bio">{{- .Params.Bio | markdownify -}}</p>
                    {{- with .Params.Socials -}}
                    <ul class="author-socials inline-list">
                        {{- range . -}}
                            <li><a href="{{- .url -}}" title="{{- .alt -}}"><i class="bi-{{- .icon -}}"></i></a></li>
                        {{- end -}}
                    </ul>
                    {{- end -}}
                </div><!-- Author-description -->
            </div><!-- clearfix -->
        </div><!-- card-body -->
    </aside>
</div>
    {{- end -}}
{{- end -}}