{{/* Parameters      */}}
{{/* .context Page   */}}
{{/* .title   String */}}
{{- $title         := .params.title | default ""                                                       -}}
{{- $heading_level := int (.params.heading | default site.Data.default_params.widgets.default.heading) -}}
{{- $heading_tag   := printf "h%d" $heading_level                                                      -}}
{{- $numposts      := .params.numposts | default site.Data.default_params.widgets.authors.numposts     -}}
{{- $lastposts     := .params.lastposts | default site.Data.default_params.widgets.authors.lastposts   -}}
{{- $list          := .params.list | default (.context.GetTerms "authors") -}}
{{- with $list -}}
    {{- range . -}}

    <aside class="col widget widget-authors">
        <div class="widget-inner">
            {{- with $title -}}
                {{- (printf "<%s class=\"widget-title\">%s</%s>" $heading_tag . $heading_tag) | safeHTML -}}
            {{- end -}}
            <div class="clearfix ">
                {{- $image := .Page.Resources.GetMatch .Params.Avatar -}}
                {{- with $image -}}
                <div class="author-picture"><!-- style="width: {{- .Width -}}px; height:{{- .Height -}}px" -->
                    <img src="{{- .RelPermalink -}}" width="{{- .Width -}}" height="{{- .Height -}}" alt="{{- .Params.Title -}}" />
                </div>
                {{- end -}}
                {{- $post_number := len .Data.Pages -}}
                <div class="author-description" style="margin-left: {{ with $image -}}{{- math.Mul 1.2 .Width -}}px{{- end -}}">
                    <a href="{{- .RelPermalink -}}" title="{{- i18n "page-of-author" . -}}"><p class="author-name">{{- .Params.Title -}}</p></a>
                    <p class="author-bio">{{- .Params.Bio | markdownify -}}</p>
                    {{- if $numposts -}}
                        <p>{{- printf (i18n "num-publication" $post_number) $post_number -}}</p>
                    {{- end -}}
                    {{- with .Params.Socials -}}
                    <ul class="author-socials inline-list">
                        {{- range . -}}
                            {{- $target := "" -}}
                            {{- with .target -}}
                                {{- $target = printf "target=\"%s\"" . | safeHTMLAttr -}}
                            {{- end -}}
                            <li><a href="{{- .url -}}" title="{{- .alt -}}" {{ $target -}}><i class="bi-{{- .icon -}}"></i></a></li>
                        {{- end -}}
                    </ul>
                    {{- end -}}
                </div><!-- Author-description -->
                {{- if and (gt $lastposts 0) (gt $post_number 0) -}}
                    <div class="author-posts-list">
                        <h4>{{- i18n "list-published-posts" $post_number -}}</h4>
                        <ul>
                            {{- range first $lastposts .Data.Pages -}}
                                <li>
                                    <a href="{{- .RelPermalink -}}" title="{{- .Title -}}">
                                        {{- .Title }} ({{- .Date | time.Format (site.Params.FormatDate | default site.Data.default_params.formatdate) -}})
                                    </a>
                                </li>
                            {{- end -}}
                        </ul>
                        {{- if gt $post_number $lastposts -}}
                        <a href="{{- .RelPermalink -}}" title="{{- i18n "page-of-author" . -}}">{{- i18n "see-all-posts" -}}</a>
                        {{- end -}} 
                    </div>
                {{- end -}}
            </div><!-- clearfix -->
        </div><!-- widget-inner -->
    </aside>

    {{- end -}}
{{- end -}}