{{/* Parameters      */}}
{{/* .context Page   */}}
{{/* .params  widget  */}}
{{- $heading_level    := int (.params.heading | default site.Data.default_params.widget_heading) -}}
{{- $heading_title    := printf "h%d" $heading_level -}}
<aside class="col widget widget-default">
    <div class="widget-inner">
        {{- (printf "<%s class=\"widget-title\">%s</%s>" $heading_title (i18n "widget-not-found") $heading_title) | safeHTML -}}
    <p class="widget-content">{{- i18n "error-widget-not-found" .params.widget -}}</p>
    </div>
</aside>
  