{{/* Parameters      */}}
{{/* .context Page   */}}
{{- $title         := .params.title        | default (i18n site.Data.default_params.widgets.follow_me.title) -}}
{{- $direction     := .params.direction    | default site.Data.default_params.widgets.follow_me.direction    -}}
{{- $heading_level := int (.params.heading | default site.Data.default_params.widgets.default.heading)              -}}
{{- $heading_tag   := printf "h%d" $heading_level -}}
{{- with site.Params.FollowLinks -}}
<aside class="col widget widget-follow {{- printf " widget-follow-%s" $direction -}}">
    <div class="widget-inner">
        {{- printf "<%s class=\"widget-title\">%s</%s>" $heading_tag $title $heading_tag | safeHTML -}}
        <ul>
            {{- range sort . "weight" -}}
                {{- if eq .id "rss" -}}
                    {{- with ((site.GetPage "home").OutputFormats.Get "rss") -}}
                        <li>
                            <a href="{{- .Permalink -}}" title="{{- i18n "rss-feeds" -}}"><i class="bi-rss"></i><span class="visually-hidden">{{- i18n "rss-feeds" -}}</span>{{/* i18n "rss-feeds" -*/}}</a>
                        </li>
                    {{ end -}}
                {{- else -}}
                    {{- if .account -}}
                        {{- $media := . -}}
                        {{- if and (ne site.Data.socials.config nil) (ne .id nil) -}}
                            {{- with (index site.Data.socials.config .id) }}
                                {{- $target := "" -}}
                                {{- with .target -}}
                                    {{- $target = printf "target=\"%s\"" . -}}
                                {{- end -}}
                            <li>
                                <a href="{{- printf .follow $media.account -}}" rel="noopener noreferrer" title="{{- i18n .followtext . -}}" {{ $target | safeHTMLAttr -}} ><i class="{{- .icon }}"></i><span class="visually-hidden">{{- i18n .followtext . }}</span>{{/* .name -*/}}</a>
                            </li>
                            {{- end -}}
                        {{- end -}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}
        </ul>
    </div><!-- widget-inner -->
</aside>
{{- end -}}
