{{/* Parameters    */}}
{{/* .context      */}}
{{/* Params        */}}
{{/*    .title     */}}
{{/*    .columns   */}}
{{/*    .heading   */}}
{{/*    .numposts  */}}
{{/*    .taxo      */}}
{{/*    .term      */}}
{{- $taxo          := .params.tax   | default site.Data.default_params.widgets.gallery.taxonomy -}}
{{- $term          := .params.term  | default ""                 -}}
{{- $title         := .params.title | default (i18n site.Data.default_params.widgets.gallery.title) -}}
{{- $heading_level := int (.params.heading | default site.Data.default_params.widgets.default.heading) -}}
{{- $heading_tag   := printf "h%d" $heading_level                -}}
{{- $columns       := int (.params.columns | default site.Data.default_params.widgets.gallery.columns)   -}}
{{- $numposts      := int (.params.numposts | default site.Data.default_params.widgets.gallery.numposts) -}}
{{- $term_path     := path.Join "/" $taxo $term                  -}}
{{- $posts         := site.GetPage $term_path                    -}}
{{- with $posts -}}
    <div class="col widget widget-gallery">
        <div class="widget-inner">
            {{- with $title -}}
                {{- (printf "<%s>%s</%s>" $heading_tag . $heading_tag) | safeHTML -}}
            {{- end -}}
            <div class="{{- printf "row row-cols-%d" $columns -}}">
            {{- range first $numposts (shuffle .Pages) -}}
                <aside class="col">
                    {{- if isset .Params "images" -}}
                        {{- partial "partials/image.html" (dict "context" . "Destination" .Params.images "Title" .Title "Text" .Title "Link" .RelPermalink "colnum" "multi") -}}
                    {{- end -}}
                </aside><!-- col -->
            {{- end -}}
            </div><!-- row -->
            <p><a href="{{- .RelPermalink -}}" title="{{- i18n "see-all-galleries" -}}">{{- i18n "see-all-galleries" -}}</a></p>
        </div><!-- widget-inner -->
    </div><!-- col -->
{{- end -}}