{{/* Parameters  */}}
{{/* .context    */}}
{{/* Params      */}}
{{/*  .title     */}}
{{/*  .columns   */}}
{{/*  .type      */}}
{{/*  .numposts  */}}
{{/*  .filename  */}}
{{- $context  := .context -}}
{{- $params   := .params  -}}
{{- $numposts := .params.numposts | default site.Data.default_params.widget_popular_numposts -}}
{{- $title    := .params.title | default (i18n "most-popular-posts" 2) -}}
{{- $params   := merge $params (dict "title" $title ) -}}
{{- $filepath := path.Join "data" (.params.filename | default "popularposts.json") -}}
{{- if os.FileExists $filepath -}}
    {{- $data := getJSON $filepath -}}
    {{- with $data -}}
        {{- $posts := slice -}}
        {{- range first $numposts (sort $data.posts "visit" "desc") -}}
            {{- $p := site.GetPage .post -}}
            {{- with $p -}}
                {{- $posts = $posts | append (slice .) -}}
            {{- end -}}
        {{- end -}}
        {{- with $posts -}}
            {{- partial "partials/widgets/posts-widget.html" (dict "context" $context "params" $params "widgetclass" "popular" "posts" .) -}}
        {{- end -}}
    {{- end -}}
{{- end -}}