{{/* Parameters */}}
{{/* .context   */}}
{{/* Params     */}}
{{/* .title     */}}
{{/* .columns   */}}
{{/* .type      */}}
{{/* .numposts  */}}
{{/* .filename  */}}
{{- $context       := .context -}}
{{- $params        := .params -}}
{{- $numposts      := .params.numposts | default 3 -}}
{{- $filepath      := path.Join "data" (.params.filename | default "popularposts.json") -}}
{{- if os.FileExists $filepath -}}
    {{- $data := getJSON $filepath -}}
    {{- with $data -}}
        {{- $posts := slice -}}
        {{- range first $numposts (sort $data.posts "visit" "desc") -}}
            {{- $p := $context.Site.GetPage .post -}}
            {{- with $p -}}
                {{- $posts = $posts | append (slice .) -}}
            {{- end -}}
        {{- end -}}
        {{- with $posts -}}
            {{- partial "partials/widgets/posts-widget.html" (dict "context" $context "params" $params "title" ($params.title | default "Most popular posts") "posts" .) -}}
        {{- end -}}
    {{- end -}}
{{- end -}}