{{/* .context */}}
{{/* .params  */}}
{{/*    .page  : page to be displayed */}}
{{- $title  := .params.value  | default ""      -}}
{{- $heading_level := int (.params.heading | default 3) -}}
{{- $heading_title := printf "h%d" $heading_level -}}
<div class="col">
    {{- with site.GetPage .params.page -}}
    <aside class="widget widget-page">
        <div class="widget-inner">
            {{- (printf "<%s class=\"widget-title\">%s</%s>" $heading_title .Title $heading_title) | safeHTML -}}
            <p>{{- .Content  -}}</p>
        </div>
    </aside>
    {{- else -}}
    <p>{{- i18n "error-post-x-not-found" .params.page | safeHTML -}}</p>
    {{- end -}}
</div>

