
{{/* Parameters   */}}
{{/* .context     */}}
{{/* .Param       */}}
{{/*   .title     */}}
{{/*   .type      */}}
{{/*   .numposts  */}}
{{/*   .columns   */}}
{{/* .posts       */}}
{{/* .widgetclass */}}
{{- $title            := .params.title | default ""          -}}
{{- $widget_format    := .params.type | default "image"      -}}
{{- $heading_level    := int (.params.heading | default 3)   -}}
{{- $heading_title    := printf "h%d" $heading_level         -}}
{{- $heading_subtitle := printf "h%d" (add $heading_level 1) -}}
{{- $widget_class     := .widgetclass | default ""           -}}
{{- $columns          := .params.columns | default site.Data.default_params.columns_3 -}}
{{- $class            := partialCached "partials/class-columns.html" $columns (delimit $columns "-") -}}
{{- with .posts -}}
    {{- if eq $widget_format "image" -}}
        <div class="{{- printf "col widget widget-%s widget-%s-image" $widget_class $widget_class -}}">
            <div class="widget-inner">
                {{- with $title -}}
                    {{- (printf "<%s>%s</%s>" $heading_title . $heading_title) | safeHTML -}}
                {{- end -}}
                <div class="{{ $class -}}">
                    {{- range . -}}
                        <aside class="col">
                            {{- if isset .Params "images" -}}
                                {{- partial "partials/image.html" (dict "context" . "Destination" .Params.images "Title" .Title "Text" .Title "Link" .RelPermalink) -}}
                            {{- end -}}
                            {{- partial "partials/meta.html" (dict "context" . "meta" (dict "1" "section")) -}}
                            {{- (printf "<%s class=\"widget-title\"><a href=\"%s\" title=\"%s\">%s</a></%s>" $heading_subtitle .RelPermalink (.Title | plainify | htmlUnescape) .Title $heading_subtitle) | safeHTML -}}
                            {{- with .Summary -}}
                                <p class="widget-content">{{- . | plainify | truncate 100 -}}</p>
                            {{- end -}}
                            {{- partial "partials/meta.html" (dict "context" . "meta" (dict "1" "date")) -}}
                        </aside>
                    {{- end -}}
                </div><!-- row -->
            </div><!-- widget-inner -->
        </div><!-- col -->
    {{- else -}}
        <aside class="{{- printf "col widget widget-%s widget-%s-image" $widget_class $widget_class -}}">
            <div class="widget-inner">
                {{- with $title -}}
                    {{- (printf "<%s>%s</%s>" $heading_title . $heading_title) | safeHTML -}}
                {{- end -}}
                <ul class="widget-content">
                    {{- range . -}}
                        {{- (printf "<li class=\"widget-title\"><a href=\"%s\" title=\"%s\">%s</a></li>" .RelPermalink (.Title | plainify | htmlUnescape) .Title ) | safeHTML -}}
                    {{- end -}}
                </ul>
            </div><!-- card-body -->
        </aside>
    {{- end -}}
{{- end -}}