{{/* Parameters */}}
{{/* .context   */}}
{{/* .title     */}}
{{- $title := .title | default "Tags" -}}
{{- $sl := slice -}}
{{- $heading_level := int (.params.heading | default 3) -}}
{{- $heading_title := printf "h%d" $heading_level -}}
{{- with .context.GetTerms "tags" -}}
<div class="col">
    <aside class="card h-100 widget widget-tags">
        <div class="card-body">
            {{- range . -}}
                {{- $sl = $sl | append (printf "<a href=\"%s\">%s</a>" .Permalink (humanize .LinkTitle)) -}}
            {{- end -}}
            {{- with $title -}}{{- (printf "<%s class=\"card-title\">%s</%s>" $heading_title . $heading_title) | safeHTML -}}{{- end -}}
            <p class="card-text"><i class="bi-tags"></i> <span class="visually-hidden" aria-hidden="true">Tags ({{ (len $sl) -}}):</span> {{- delimit $sl ", " -}}</p>
        </div>
    </aside>
</div>
{{- end -}}