
{{/* Parameters   */}}
{{/* .context     */}}
{{/* .Param       */}}
{{/*   .title     */}}
{{/*   .type      */}}
{{/*   .numposts  */}}
{{/*   .columns   */}}
{{/* .posts       */}}
{{/* .widgetclass */}}
{{- $title          := .params.title | default ""          -}}
{{- $widget_format  := .params.type | default  site.Data.default_params.widgets.default.format -}}
{{- $heading_level  := int (.params.heading | default site.Data.default_params.widgets.default.heading) -}}
{{- $heading_tag    := printf "h%d" $heading_level         -}}
{{- $subheading_tag := printf "h%d" (add $heading_level 1) -}}
{{- $widget_class   := .widgetclass | default ""           -}}
{{- $columns        := .params.columns | default site.Data.default_params.widgets.default.columns -}}
{{- $class          := partialCached "partials/class-columns.html" $columns (delimit $columns "-") -}}
{{- with .posts -}}
    {{- if eq $widget_format "image-full" -}}
        <div class="{{- printf "col widget widget-%s widget-%s-image" $widget_class $widget_class -}}">
            <div class="widget-inner">
                {{- with $title -}}
                    {{- (printf "<%s>%s</%s>" $heading_tag . $heading_tag) | safeHTML -}}
                {{- end -}}
                <div class="{{ $class -}}">
                    {{- range . -}}
                        <aside class="col">
                            {{- partial "partials/meta.html" (dict "context" . "meta" (dict "1" "section")) -}}
                            {{- if isset .Params "images" -}}
                                {{- partial "partials/image.html" (dict "context" . "Destination" .Params.images "Title" .Title "Text" .Title "Link" .RelPermalink) -}}
                            {{- end -}}
                            {{/*- partial "partials/meta.html" (dict "context" . "meta" (dict "1" "date" "2" "reading")) -*/}}
                            {{- (printf "<%s class=\"widget-title\"><a href=\"%s\" title=\"%s\">%s</a></%s>" $subheading_tag .RelPermalink (.Title | plainify | htmlUnescape) .Title $subheading_tag) | safeHTML -}}
                            {{- with .Summary -}}
                                <p class="widget-content">{{- . | plainify | truncate 100 -}}</p>
                            {{- end -}}
                            {{- partial "partials/meta.html" (dict "context" . "meta" (dict "1" "date" "2" "reading")) -}}
                        </aside>
                    {{- end -}}
                </div><!-- row -->
            </div><!-- widget-inner -->
        </div><!-- col -->
    {{- else -}}
        <aside class="{{- printf "col widget widget-%s widget-%s-image" $widget_class $widget_class -}}">
            <div class="widget-inner">
                {{- with $title -}}
                    {{- (printf "<%s>%s</%s>" $heading_tag . $heading_tag) | safeHTML -}}
                {{- end -}}
                <ul class="widget-content">
                    {{- range . -}}
                        {{- (printf "<li class=\"widget-title\"><a href=\"%s\" title=\"%s\">%s</a></li>" .RelPermalink (.Title | plainify | htmlUnescape) .Title ) | safeHTML -}}
                    {{- end -}}
                </ul>
            </div><!-- card-body -->
        </aside>
    {{- end -}}
{{- end -}}