{{/* Parameters */}}
{{/* .context   */}}
{{/* Params     */}}
{{/* .title     */}}
{{/* .type      */}}
{{/* .numposts  */}}
{{/* .columns   */}}
{{- $numposts      := .params.numposts | default 3 -}}
{{- $posts         := site.RegularPages.Related .context | first $numposts -}}
{{- partial "partials/widgets/posts-widget.html" (dict "context" .context "params" .params "title" (.params.title | default "You may like the following posts also") "posts" $posts) -}}
{{/*- with $related.ByPublishDate.Reverse -*/}}