{{/* Parameters    */}}
{{/* .context      */}}
{{/* Params        */}}
{{/*    .title     */}}
{{/*    .type      */}}
{{/*    .columns   */}}
{{/*    .heading   */}}
{{- $context        := .context                                                                          -}}
{{- $title          := .params.title | default (i18n "sections-list")                                    -}}
{{- $widget_format  := .params.format | default site.Data.default_params.widgets.sections.format   -}}
{{- $heading_level  := int (.params.heading | default site.Data.default_params.widgets.default.heading)   -}}
{{- $columns        := .params.columns | default site.Data.default_params.widgets.sections.columns -}}
{{- $heading_tag    := printf "h%d" $heading_level                                                       -}}
{{- $subheading_tag := printf "h%d" (add $heading_level 1)                                               -}}
{{- $class          := partialCached "partials/class-columns.html" $columns (delimit $columns "-")       -}}
{{- with site.Params.mainSections -}}
    {{- if or (eq $widget_format "image-full") (eq $widget_format "image-title") -}}
        <div class="col widget widget-sections widget-sections-images">
            <div class="widget-inner">
                {{- with $title -}}
                    {{- (printf "<%s>%s</%s>" $heading_tag . $heading_tag) | safeHTML -}}
                {{- end -}}
                <div class="{{- $class -}}">
                    {{- range . -}}
                        {{- with site.GetPage . -}} 
                            <aside class="col">
                                {{- if isset .Params "images" -}}
                                    {{- partial "partials/image.html" (dict "context" . "Destination" .Params.images "Title" .Title "Text" .Title "Link" .Permalink) -}}
                                {{- end -}}
                                {{- (printf "<%s class=\"widget-title\"><a href=\"%s\" title=\"%s\">%s</a></%s>" $subheading_tag .RelPermalink (.Title | plainify | htmlUnescape) .Title $subheading_tag) | safeHTML -}}
                                {{- if eq $widget_format "image-full" -}}
                                    {{- with .Params.Description -}}
                                        <p class="widget-content">{{- . | plainify | htmlUnescape -}}</p>
                                    {{- end -}}
                                {{- end -}}
                            </aside>
                        {{- end -}}
                    {{- end -}}
                </div><!-- row -->
            </div><!-- widget-inner -->
        </div><!-- col -->
    {{- else -}}
        <aside class="col widget widget-sections widget-sections-list">
            <div class="widget-inner">
                {{- (printf "<%s class=\"widget-title\">%s</%s>" $heading_tag . $heading_tag) | safeHTML -}}
                <ul class="widget-content">
                    {{- range . -}}
                        <li><a href="{{- .RelPermalink -}}" title="{{- .Title | plainify | htmlUnescape -}}">{{- .Title -}}</a></li>
                    {{- end -}}
                </ul>
            </div>
        </aside>
    {{- end -}}
{{- end -}}