{{/* Parameters    */}}
{{/* .context      */}}
{{/* Params        */}}
{{/*    .title     */}}
{{/*    .type      */}}
{{/*    .columns   */}}
{{/*    .heading   */}}
{{- $context := .context                                                                             -}}
{{- if isset site.Taxonomies "series"                                                                -}}
    {{- $nb_series        := len site.Taxonomies.series                                              -}}
    {{- $title            := .params.title | default (i18n "series" $nb_series)                      -}}
    {{- $widget_format    := .params.type | default "image-title"                                    -}}
    {{- $heading_level    := int (.params.heading | default site.Data.default_params.widget_heading) -}}
    {{- $heading_title    := printf "h%d" $heading_level                                             -}}
    {{- $heading_subtitle := printf "h%d" (add $heading_level 1)                                     -}}
    {{- $columns          := .params.columns | default site.Data.default_params.columns_3            -}}
    {{- $class            := partialCached "partials/class-columns.html" $columns (delimit $columns "-") -}}
    {{- with site.Taxonomies.series }}
        {{- if or (eq $widget_format "image-full") (eq $widget_format "image-title") -}}
            <div class="col widget widget-series widget-series-images">
                <div class="widget-inner">
                    {{- with $title -}}
                        {{- (printf "<%s>%s</%s>" $heading_title . $heading_title) | safeHTML -}}
                    {{- end -}}
                    <div class="{{- $class -}}">
                        {{- range . -}}
                            <aside class="col">
                                {{- with .Page -}}
                                    {{- if isset .Params "images" -}}
                                        {{- partial "partials/image.html" (dict "context" . "Destination" .Params.images "Title" .Title "Text" .Title "Link" .RelPermalink) -}}
                                    {{- end -}}
                                    {{- (printf "<%s class=\"widget-title\"><a href=\"%s\" title=\"%s\">%s</a></%s>" $heading_subtitle .RelPermalink (.Title | plainify | htmlUnescape) .Title $heading_subtitle) | safeHTML -}}
                                    {{- if eq $widget_format "image-full" -}}
                                        {{- with .Params.Description -}}
                                            <p class="widget-content">{{- . | plainify | htmlUnescape -}}</p>
                                        {{- end -}}
                                    {{- end -}}
                                {{- end -}}
                                {{- if .Pages }}
                                    <p>{{- i18n "series-posts" -}}</p>
                                    <ol class="serie-posts">
                                    {{- range .Pages.ByPublishDate }}
                                        <li>
                                            <a href="{{- .RelPermalink -}}" rel="bookmark">
                                                {{- .Title }} ({{- .Date | time.Format (site.Params.FormatDate | default site.Data.params_defaults.formatdate)  -}})
                                            </a>
                                        </li>
                                    {{- end }}
                                    </ol>
                                {{- else -}}
                                    {{- i18n "no-post-yet" -}}
                                {{- end }}
                            </aside>
                        {{- end -}}
                    </div><!-- row -->
                </div><!-- widget-inner -->
            </div><!-- col -->
        {{- else -}}
            <aside class="col widget widget-series widget-series-list">
                <div class="widget-inner">
                    {{- with $title -}}
                        {{- printf "<%s class=\"widget-title\">%s</%s>" $heading_title . $heading_title | safeHTML -}}
                    {{- end -}}
                    <ul class="widget-content">
                    {{- range . -}}
                        {{- with .Page -}}
                            <li><a href="{{- .RelPermalink -}}">{{- .Title -}}</a></li>
                        {{- end -}}
                    {{- end -}}
                    </ul>
                </div><!-- widget-inner -->
            </aside>
        {{- end -}}
    {{- end -}}{{/* with taxonomy   */}}
{{- end -}}{{/* End of series exist */}}