{{/* Parameters */}}
{{/* .context   */}}
{{/* Params     */}}
{{/* .title     */}}
{{/* .type      */}}
{{/* .numposts  */}}
{{/* .columns   */}}
{{- $context := .context -}}
{{- if isset site.Taxonomies "series" -}}
    {{- $nb_series     := len site.Taxonomies.series -}}
    {{- $title         := .params.title | default (i18n "series" $nb_series) -}}
    {{- $widget_format := .params.type | default "image" -}}
    {{- $heading_level := int ($.params.heading | default 3) -}}
    {{- $heading_title := printf "h%d" $heading_level -}}
    {{- $heading_subtitle := printf "h%d" (add $heading_level 1) -}}
    {{- $columns       := .params.columns | default (dict "xs" 1 "sm" 1 "md" 2 "lg" 2 "xl" 2) -}}
    {{- $class         := partialCached "partials/class-columns.html" $columns (delimit $columns "-") -}}
    {{- with site.Taxonomies.series }}
        <div class="col">
            {{- if eq $widget_format "image" -}}
                {{- with $title -}}
            <!--    <div class="row">
                    <div class="col">-->
                        {{- (printf "<%s>%s</%s>" $heading_title . $heading_title) | safeHTML -}}
            <!--    </div>
                </div> -->
                {{- end -}}
                <div class="{{- $class -}}">
                    {{- range . -}}
                    <div class="col mb-5">
                        <aside class="h-100 widget widget-series-images">
                            <div class="widget-inner">
                                {{- with .Page -}}
                                    {{- if isset .Params "images" -}}
                                        {{- partial "partials/image.html" (dict "context" . "Destination" .Params.images "Title" .Title "Text" .Title ) -}}
                                    {{- end -}}
                                    {{- (printf "<%s class=\"widget-title\"><a href=\"%s\" title=\"%s\">%s</a></%s>" $heading_subtitle .RelPermalink (.Title | plainify | htmlUnescape) .Title $heading_subtitle) | safeHTML -}}
                                    {{- with .Params.Description -}}<p>{{- . | plainify | htmlUnescape -}}</p>{{- end -}}
                                    </div>
                                {{- end -}}
                                {{- if .Pages }}
                                    <p>{{- i18n "series-posts" -}}</p>
                                    <ol>
                                    {{- range .Pages.ByPublishDate }}
                                        <li>
                                            <a href="{{- .RelPermalink -}}" rel="bookmark">
                                                {{- .Title }} ({{- .Date | time.Format (site.Params.FormatDate | default "2-Jan-2006")  -}})
                                            </a>
                                        </li>
                                    {{- end }}
                                    </ol>
                                {{- else -}}
                                    {{- i18n "no-post-yet" -}}
                                {{- end }}
                            </div><!-- widget-inner -->
                        </aside>
                    </div><!-- col -->
                    {{- end -}}<!-- range -->
                </div><!-- row -->
            {{- else -}}
                <aside class="h-100 widget widget-series widget-series-images">
                    <div class="widget-inner">
                        {{- with $title -}}
                            {{- printf "<%s class=\"widget-title\">%s</%s>" $heading_title . $heading_title | safeHTML -}}
                        {{- end -}}
                        <ul>
                        {{- range . -}}
                            {{- with .Page -}}
                                <li><a href="{{- .RelPermalink -}}">{{- .Title -}}</a></li>
                            {{- end -}}
                        {{- end -}}
                        </ul>
                    </div><!-- card-body -->
                </aside>
            {{- end -}}<!-- if format -->
        </div><!-- col -->
    {{- end -}}
{{- end -}}<!-- taxonomy exist -->
