{{/* Parameters */}}
{{/* .context   */}}
{{/* Params     */}}
{{/* .title     */}}
{{/* .numseries */}}
{{/* .heading   */}}
{{- $context    := .context -}}
{{/*- $serie_name := ""       -}}
{{- with $context.Params.series     -}}
    {{- $serie_name = index $context.Params.series 0 -}}
{{- end -*/}}
{{/*- if $serie_name -*/}}
    {{- $serie := first 1 ($context.GetTerms "series") -}}
    {{- range $serie -}}
        {{- $title         := $.params.title | default (i18n site.Data.default_params.params.widget_seriesame.title) -}}
        {{- $num_posts     := $.params.num_posts | default site.Data.default_params.params.widget_seriesame.numposts -}}
        {{- $heading_level := int ($.params.heading | default site.Data.default_params.params.widgets.heading)       -}}
        {{- $heading_tag   := printf "h%d" $heading_level -}}
        <aside class="col widget widget-same-series">
            <div class="widget-inner">
                {{- with $title -}}
                    {{- (printf "<%s class=\"widget-title\">%s</%s>" $heading_tag $title $heading_tag) | safeHTML -}} 
                {{- end -}}
                <ol class="widget-content">
                    {{- range first $num_posts .Pages.ByPublishDate }}
                    <li>
                        {{- if eq . $context -}}
                        <strong>{{- .Title }}</strong>
                        {{- else -}}
                        <a href="{{- .RelPermalink -}}" rel="bookmark">
                            {{- .Title }} ({{- .Date | time.Format (site.Params.FormatDate | default site.Data.default_params.formatdate)  -}})
                        </a>
                        {{- end -}}
                    </li>
                    {{- end }}
                </ol>
                {{/*- if gt (len .Pages) $num_posts -*/}}
                    <p><a href="{{- .RelPermalink -}}" title="{{- i18n "see-series" 1 -}}">{{- i18n "see-serie-details" -}}</a></p>
                {{/*- end -*/}}
            </div>
        </aside>
    {{- end }}
{{/*- end -*/}}