{{/* Parameters        */}}
{{/* $context   Page   */}}
{{/* .title     String */}}
{{- $context        := .context -}}
{{- $title          := .params.title | default (i18n site.Data.default_params.widgets.share.title) -}}
{{- $heading_level  := int (.params.heading | default site.Data.default_params.widgets.default.heading) -}}
{{- $heading_tag    := printf "h%d" $heading_level -}}
{{- if site.Params.sharelinks -}}
    <aside class="col widget widget-share-links">
        <div class="widget-inner">
            {{- with $title -}}
                {{- (printf "<%s class=\"widget-title\">%s</%s>" $heading_tag . $heading_tag) | safeHTML -}}
            {{- end -}}
            <ul>
                {{- $home  := "/" | absURL -}}
                {{- $url   := $context.Permalink | absURL | safeURL -}}
                {{- $title := $context.Title | safeHTML -}}
                {{- $description := "" -}}
                {{- with $context.Params.Description -}}
                    {{- $description = . | safeHTML -}}
                {{- else -}}
                    {{- $description = ( $context.Summary | truncate 200 ) -}}
                {{- end -}}
                {{- $image := "" -}}
                {{- if isset $context.Params "images" -}}
                    {{- $image = index $context.Params.images 0 | absURL -}}
                {{- end -}}
                {{- $tags := "" -}}
                {{- if isset $context.Params "tags" -}}
                    {{- $tags = (delimit $context.Params.tags ",") | safeURL -}}
                {{- end -}}
                {{- range sort site.Params.sharelinks "weight" -}}
                    {{- $share := . -}}
                    {{- $via   := "" -}}
                    {{- with .account -}}{{- $via = . -}}{{- end -}}
                    {{- if and (ne site.Data.socials.config nil) (ne .id nil) -}}
                        {{- with (index site.Data.socials.config .id) }}
                            {{- if .share -}}
                                {{- $share_url := partial "share_regex" (dict "pattern" "%%URL%%"      "param" "%s"              "value" $url          "string" .share)     -}}
                                {{- $share_url  = partial "share_regex" (dict "pattern" "%%HOME%%"     "param" "%s"              "value" $home         "string" $share_url) -}}
                                {{- $share_url  = partial "share_regex" (dict "pattern" "%%TITLE%%"    "param" "%s"              "value" $title        "string" $share_url) -}}
                                {{- $share_url  = partial "share_regex" (dict "pattern" "%%VIA%%"      "param" "&via=%s"         "value" $via          "string" $share_url) -}}
                                {{- $share_url  = partial "share_regex" (dict "pattern" "%%HASHTAGS%%" "param" "&hashtags=%s"    "value" $tags         "string" $share_url) -}}
                                {{- $share_url  = partial "share_regex" (dict "pattern" "%%MEDIA%%"    "param" "&media=%s"       "value" $image        "string" $share_url) -}}
                                {{- $share_url  = partial "share_regex" (dict "pattern" "%%PICTURE%%"  "param" "&picture=%s"     "value" $image        "string" $share_url) -}}
                                {{- $share_url  = partial "share_regex" (dict "pattern" "%%DESC%%"     "param" "%s"              "value" $description  "string" $share_url) -}}
                                {{- $share_url  = partial "share_regex" (dict "pattern" "%%BODY%%"     "param" "%s"              "value" $url          "string" $share_url) -}}
                                {{- $share_url  = partial "share_regex" (dict "pattern" "%%SITE%%"     "param" "%s"              "value" site.Title   "string" $share_url) -}}
                                {{/*- $share_url = partial "share_regex" (dict  "pattern" "%%SUBJECT%%"  "param" "&subject=%s"     "value" $title        "string" $share_url) -*/}}
                                {{/*- $share_url = partial "share_regex" (dict  "pattern" "%%TEXT%%"     "param" "%s"              "value" $title       "string" $share_url) -*/}}
                                <li>
                                    {{- $text := printf (i18n .sharetext) .name -}}
                                    {{- $target := "" -}}
                                    {{- with .target -}}
                                        {{- $target = printf "target=\"%s\"" . -}}
                                    {{- end -}}
                                    <a href="{{- $share_url -}}" class="share-link share-{{- $share.id -}}" title="{{- $text -}}" aria-label="{{- $text -}}" rel="noopener noreferrer" {{ $target | safeHTMLAttr -}}>
                                        <i class="{{- .icon -}}"></i><span class="visually-hidden" aria-hidden="true"> {{ .name -}}</span></a>
                                </li>
                            {{- end -}}
                        {{- end -}}
                    {{- end -}}
                {{- end -}}
            </ul>
        </div><!-- widget-inner -->
    </aside><!-- -->
{{- end -}}
{{- define "partials/share_regex" -}}
    {{- $new_value := "" -}}
    {{- if eq .value "" -}}
        {{- $new_value = (replaceRE .pattern "" .string ) -}}
    {{- else -}}
        {{- $new_value = (replaceRE .pattern (printf .param .value) .string ) -}}
    {{- end -}}
    {{- return $new_value -}}
{{- end -}}