{{/* Parameters  */}}
{{/* .context    */}}
{{/* .params     */}}
{{/*    .title   */}}
{{/*    .heading */}}
{{- $heading_level := int (.params.heading | default site.Data.default_params.widgets.default.heading) -}}
{{- $heading_tag   := printf "h%d" $heading_level -}}
{{- if isset site.Taxonomies "tags" -}}
    {{- $nb_tags := len site.Taxonomies.tags -}}
    {{- $title   := .params.title | default (i18n site.Data.default_params.widgets.tagscloud.title $nb_tags) -}}
    {{- $title   := trim $title " " -}}
    {{- with site.Taxonomies.tags }}

    <div class="col widget widget-tags-cloud">
        <div class="widget-inner">
            {{- with $title -}}{{- (printf "<%s class=\"widget-title\">%s</%s>" $heading_tag . $heading_tag) | safeHTML -}}{{- end -}}
            {{- $fontUnit         := "rem"                                                     -}}
            {{- $largestFontSize  := site.Data.default_params.widgets.tagscloud.largest  -}}
            {{- $smallestFontSize := site.Data.default_params.widgets.tagscloud.smallest -}}
            {{- $fontGap          := sub $largestFontSize $smallestFontSize                    -}}
            {{- $max              := add (len (index .ByCount 0).Pages) 1                      -}}
            {{- $min              := len (index .ByCount.Reverse 0).Pages                      -}}
            {{- $gap              := sub $max $min     -}}
            {{- $fontStep         := div $fontGap $gap -}}
            <ul>
            {{- range . -}}
                {{- $weigth := div (sub (math.Log .Count) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) -}}
                {{- $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weigth) ) -}}        
                {{- $style := ( printf "font-size:%f%s" $currentFontSize $fontUnit) -}}
                <li><a href="{{- .Page.Permalink -}}" title="{{- .Page.Title -}} ({{ .Count -}})" style="{{- $style | safeCSS -}}">{{- humanize .Page.Title }}</a> </li>
            {{- end -}}
            </ul>
        </div><!-- widget-inner -->
    </div><!-- col widget -->

    {{- end -}}
{{- end -}}
