{{/* Parameters  */}}
{{/* .context    */}}
{{/* .params     */}}
{{/*    .title   */}}
{{/*    .heading */}}
{{- $heading_level := int (.params.heading | default 3) -}}
{{- $heading_title := printf "h%d" $heading_level -}}
{{- if isset site.Taxonomies "tags" -}}
    {{- $nb_tags := len site.Taxonomies.tags -}}
    {{- $title   := .params.title | default (i18n "Tags" $nb_tags) -}}
    {{- with site.Taxonomies.tags }}

    <aside class="col widget widget-tags-cloud">
        <div class="widget-inner">
            {{- with $title -}}{{- (printf "<%s class=\"widget-title\">%s</%s>" $heading_title . $heading_title) | safeHTML -}}{{- end -}}
            {{- $fontUnit          := "rem" -}}
            {{- $largestFontSize   := 2     -}}
            {{- $smallestFontSize  := 0.875 -}}
            {{- $fontGap           := sub $largestFontSize $smallestFontSize -}}
            {{- $max               := add (len (index .ByCount 0).Pages) 1 -}}
            {{- $min               := len (index .ByCount.Reverse 0).Pages -}}
            {{- $gap               := sub $max $min     -}}
            {{- $fontStep          := div $fontGap $gap -}}
            {{- range . -}}
                {{- $weigth := div (sub (math.Log .Count) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) -}}
                {{- $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weigth) ) -}}        
                {{- $style := ( printf "font-size:%f%s" $currentFontSize $fontUnit) -}}
                <a href="{{- .Page.Permalink -}}" title="{{- .Page.Title -}} ({{ .Count -}})" style="{{- $style | safeCSS -}}">{{- humanize .Page.Title -}}</a>
            {{- end -}}
        </div>
    </aside>

    {{- end -}}
{{- end -}}
