{{- define "main" -}}
    {{- $display_image  := and (isset .Params "images") (site.Params.Single.displayimage | default false) -}}
    {{- if $display_image -}}
    <div class="single-page-image">
        <div class="container">
            <div class="row">
                <div class="col mb-5 text-center">
                    {{- partial "partials/image.html" (dict "context" . "Destination" .Params.images "Title" .Title "Text" .Title) -}}
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div>
    {{- end -}}
    <div class="single-page-content">
        <div class="container limit-width">
            <div class="row row-cols-1">
                <div class="post-content col mb-6">
                    {{- .Content -}}
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div>
{{- end -}}