{{- define "main" -}}
    <div class="container limit-width">
        <div class="row">
            {{- $string := .Summary -}}
            {{- with .Description -}}{{- $string = . -}}{{- end -}}
            {{- with $string -}}
                <div class="page-summary col mb-5">
                    <p>{{- . | markdownify -}}</p>
                </div><!-- col -->
            {{- end -}}
        </div>
        <div class="post-list row row-cols-1">
            {{- $numposts  := site.Params.authorsList.numposts  | default site.Data.params.authorslist.numposts -}}
            {{- $lastposts := site.Params.authorsList.lastposts | default site.Data.params.authorslist.lastposts -}}
            {{- partial "partials/widgets/authors-list.html" (dict "context" . "params" (dict "list" .Pages "numposts" $numposts "lastposts" $lastposts)) -}}
        </div><!-- row -->
    </div><!-- container -->
{{- end -}}
