<!DOCTYPE html>
<html class="no-js" lang="{{- site.LanguageCode | default site.Data.default_params.languagecode -}}">
    {{- $class := partial "main_class.html" . -}}
    <head>
        {{- partialCached "head.html" . (.Scratch.Get "page-id") -}}
    </head>
    <body class="{{- $class -}}">
        {{- partialCached "header.html" . (.Scratch.Get "page-id") -}}
        <main role="main" id="page-main">
            {{- partialCached "partials/headline.html" . (.Scratch.Get "page-id") -}}
            <!-- <section > -->
                {{- block "main" . }}{{- end }}
            <!-- </section> -->
            {{- block "bottomline" . }}{{- end }}
        </main>
        {{- partialCached "footer.html" . (.Scratch.Get "page-id") -}}
        {{- partialCached "js.html" . (printf "%s-%s" .Type .Layout) -}}
    </body>
</html>
{{- define "partials/main_class.html" -}}
    {{- $page_id := "" -}}
    {{- $class := slice "page-content " -}}
    {{ if .IsHome }}
        {{- $class = $class | append (slice "home") -}}
        {{- $page_id = "home" -}}
    {{- else if .IsPage -}}
        {{- $class = $class | append (slice "single-page") -}}
        {{- $class = $class | append (slice (printf "page-%s" (.Layout | default "standard"))) -}}
        {{- $class = $class | append (slice (printf "page-%s" (.Type | default "page"))) -}}
        {{/*- $page_id = printf "page-%s-%s" (.Layout | default "standard") (.Type | default "page") -*/}}
        {{- $page_id = printf "page-%s" .Slug -}}
    {{- else -}}
        {{- $class = $class | append (slice "list-page") -}}
        {{- $page_id = "list-page" -}}
        {{- if .IsSection }}
            {{- $class = $class | append (slice (printf "section-%s" .Type)) -}}
            {{- $page_id = printf "section-%s" .Type -}}
        {{- else if eq .Kind "taxonomy" -}}
            {{- $class = $class | append (slice (printf "taxonomy taxonomy-%s" .Type )) -}}
            {{- $page_id = printf "taxonomy-%s" .Type -}}
        {{- else if eq .Kind "term" }}
            {{- $class = $class | append (slice (printf "%s-term" .Type )) -}}
            {{- $page_id = printf "%s-term" .Type -}}
        {{- end -}}
    {{- end -}}
    {{- .Scratch.Set "page-id" $page_id -}}
    {{- return (delimit $class " ") -}}
{{- end -}}