<!DOCTYPE html>
<html class="no-js" lang="{{- $.Site.LanguageCode | default "en" -}}">
    <head>
        {{- partial "head.html" . -}}
    </head>
    <body>
        {{- partial "header.html" . -}}
        <main role="main" id="page-main">
            {{- partial "partials/headline.html" . -}}
            <section id="page-content page-type-{{- .Type }} page-{{- .Kind -}}">
                {{- block "main" . }}{{- end }}
            </section>
            {{- block "bottomline" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
        {{- partialCached "js.html" . (printf "%s-%s" .Type .Slug) -}}
    </body>
</html>