{{- define "main" -}}
    {{- $post_format  := .Site.Params.PostList.PostFormat | default "image-left" -}}
    {{- $partial_path := path.Join "partials/posts-format" (printf "%s%s%s" "posts-list-" $post_format ".html") -}}
    <div class="container limit-width">
        <div class="row">
            {{- $string := .Summary -}}
            {{- with .Description -}}{{- $string = . -}}{{- end -}}
            {{- with $string -}}
                <div class="page-summary col mb-6">
                    <p>{{- . | markdownify -}}</p>
                </div><!-- col -->
            {{- end -}}
        </div>
        {{- $class := partialCached "partials/class-columns.html" (.Site.Params.PostList.Columns | default (dict "xs" 1 "sm" 1 "md" 1 "lg" 1 "xl" 1)) (printf "%s" .Site.Params.PostList.Columns) -}}
        <div class="post-list {{ $class -}}">
            {{- range .Paginator.Pages -}}
            <div class="col mb-6">
                {{- partial $partial_path (dict "context" . "kindctx" $.Kind) -}}
            </div><!-- col -->
            {{- end -}}
        </div><!-- row -->
    </div><!-- container -->
{{- end -}}
{{- define "bottomline" -}}
    <section id="page-bottomline" class="page-bottomline-pagination pb-4 pt-4 mb-5">
        <div class="container">
            {{- partial "partials/pagination-list.html" . -}}
        </div>
    </section>
{{- end -}}