{{- define "main" -}}
    {{- $current_page := . -}}
    {{- $meta := site.Params.Single.meta | default (dict "top" (dict) "middle" (dict "1" "fulldate" "2" "reading") "bottom" (dict)) -}}
    <div class="container limit-width">
        <div class="row">
            <div class="col post-summary mb-4">
                {{- .Summary -}}
                {{- with $meta.top -}}
                    {{- partial "partials/meta.html" (dict "context" $current_page "kindctx" .Kind "meta" . "class" "meta-top") -}}
                {{- end -}}
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
{{- $display_image  := and (isset .Params "images") (site.Params.Single.displayimage | default false) -}}
{{- if $display_image -}}
    <div class="container">
        <div class="row">
            <div class="col mb-5 text-center">
                {{- partial "partials/image.html" (dict "context" . "Destination" .Params.images "Title" .Title "Text" .Title) -}}
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
{{- end -}}
    <div class="container limit-width">
        <div class="row row-cols-1">
            <div class="col">
                {{- with $meta.middle -}}
                    {{- partial "partials/meta.html" (dict "context" $current_page "kindctx" .Kind "meta" . "class" "meta-middle") -}}
                {{- end -}}
            </div>
            <div class="post-content col mb-5">
                {{/*- .Content -*/}}
                {{- replace .Content .Summary "" | safeHTML -}}
            </div><!-- col -->
            {{- with $meta.bottom -}}
                {{- partial "partials/meta.html" (dict "context" $current_page "kindctx" .Kind "meta" . "class" "meta-bottom") -}}
            {{- end -}}
        </div><!-- row -->
    </div><!-- container -->
{{- end -}}
{{- define "bottomline" -}}
    {{- $current_page := . -}}
    {{- partial "partials/pagination-single.html" . -}}
    {{- range site.Params.Single.Rows | default site.Data.single_bottomline.Rows -}}{{/* $defaultBottomline */}}
        <section class="page-bottomline page-bottomline-{{- .name}} mb-5">
            {{- $limit := cond (.limitedWidth | default true) "limit-width" "" -}}
            <div class="container {{ $limit -}}">
                {{- $columns := .columns | default (dict "xs" 1 "sm" 1 "md" 1 "lg" 1 "xl" 1) -}}
                {{- $class := partialCached "partials/class-columns.html" $columns (delimit $columns "-") -}}
                <div class="{{- $class -}}">
                    {{- $num_groups := len .Groups -}}
                    {{ range .Groups }}
                        {{- $num_widgets := len .Widgets -}}
                        {{- $columns := .columns | default (dict "xs" 1 "sm" 1 "md" 1 "lg" 1 "xl" 1) -}}
                        {{- $class := partialCached "partials/class-columns.html" $columns (delimit $columns "-") -}}
                        {{- if and (gt $num_groups 1) (gt $num_widgets 1) -}}
                        <div class="col">
                            <div class="{{- $class -}}">
                        {{- end -}}
                            {{- range .Widgets -}}
                                {{- $partialPath := printf "partials/widgets/%s.html" .widget -}}
                                {{- if templates.Exists $partialPath -}}
                                    {{- if .cache | default false -}}
                                        {{- partialCached $partialPath (dict "context" $current_page "params" .params) (printf "%s-%s" .widget .params) -}}
                                    {{- else -}}
                                        {{- partial $partialPath (dict "context" $current_page "params" .params) -}}
                                    {{- end -}}
                                {{- else -}}
                                    {{- partial "partials/widgets/default.html" (dict "context" $current_page "params" (dict "widget" .widget)) -}}
                                {{- end -}}
                            {{- end -}}
                        {{- if and (gt $num_groups 1) (gt $num_widgets 1) -}}
                            </div><!-- row -->
                        </div><!-- col -->
                        {{- end -}}
                    {{- end -}}
                </div><!-- row -->
            </div><!-- end of container -->
        </section>
    {{- end -}}
    {{- if site.Params.utteranc_repo | default false -}}
    <section class="page-bottomline page-bottom-line-comments">
        <div class="container">
            <div class="row" id="posts-comments">
                <div class="col">
                    <h2>{{- i18n "comments" -}}</h2>
                    <script src="https://utteranc.es/client.js"
                        repo       = "{{- site.Params.utteranc_repo -}}"
                        issue-term = "{{- site.Params.utteranc_term | default "title" -}}"
                        theme      = "{{- site.Params.utteranc_theme | default "github-light" -}}"
                        crossorigin= "anonymous"
                        async>
                    </script>
                </div>
            </div>
        </div>
    </section>
    {{- end -}}
{{- end -}}