{{- define "main" -}}
    {{- $current_page := . -}}
    <div class="container limit-width">
        <div class="row">
            <div class="col post-summary mb-4">
                {{- .Summary -}}
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
{{- $display_image  := and (isset .Params "images") (.Site.Params.Single.displayimage | default false) -}}
{{- if $display_image -}}
    <div class="container">
        <div class="row">
            <div class="col mb-5 text-center">
                {{- partial "partials/image.html" (dict "context" . "Destination" .Params.images "Title" .Title "Text" .Title) -}}
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
{{- end -}}
    <div class="container limit-width">
        <div class="row row-cols-1">
            <div class="col">
            {{- with .Site.Params.Single.metatop -}}
                {{- partial "partials/meta.html" (dict "context" $current_page "kindctx" "page" "meta" . "class" "meta-top") -}}
            {{- end -}}
            </div>
            <div class="page-content post-content col mb-6">
                {{/*- .Content -*/}}
                {{- replace .Content .Summary "" | safeHTML -}}
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
{{- end -}}
{{- define "bottomline" -}}
    {{- $current_page := . -}}
    {{- partial "partials/pagination-single.html" . -}}
    {{- range .Site.Params.Single.Rows | default .Site.Data.single_bottomline.Rows -}}{{/* $defaultBottomline */}}
        <section class="page-bottomline page-bottomline-{{- .name}} mb-5">
            {{- $limit := cond (.limitedWidth | default true) "limit-width" "" -}}
            <div class="container {{ $limit -}}">
                {{- $class := partialCached "class-columns.html" (.columns | default (dict "def" 1 "sm" 1 "md" 1 "lg" 1 "xl" 1)) (printf "%s" .columns) -}}
                <div class="row {{ $class -}}">
                    {{- range .Widgets -}}
                        {{- $partialPath := printf "partials/widgets/%s.html" .wtype -}}
                        {{- if templates.Exists $partialPath -}}
                            {{- if .cache | default false -}}
                                {{- partialCached $partialPath (dict "context" $current_page "params" .params) (printf "%s-%s" .wtype .params) -}}
                            {{- else -}}
                                {{- partial $partialPath (dict "context" $current_page "params" .params) -}}
                            {{- end -}}
                        {{- else -}}
                            {{- partial "partials/widgets/default.html" (dict "context" $current_page "params" .wtype) -}}
                        {{- end -}}
                    {{- end -}}
                </div><!-- row -->
            </div><!-- container -->
        </section>
    {{- end -}}
{{- end -}}