{{- define "main" -}}
    {{- $cuttent_page := . -}}
    {{- partial "partials/headline.html" . -}}
    <section id="page-content">
        <div class="container limit-width">
            <div class="row">
                <div class="col post-summary mb-4">
                    {{- .Summary -}}
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    {{- $display_image  := and (isset .Params "images") (.Site.Params.Single.displayimage | default false) -}}
    {{- if $display_image -}}
        <div class="container">
            <div class="row">
                <div class="col mb-5 text-center">
                    {{- partial "partials/image.html" (dict "context" . "Destination" .Params.images "Title" .Title "Text" .Title) -}}
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    {{- end -}}
        <div class="container limit-width">
            <div class="row row-cols-1">
                <div class="col">
                {{- with .Site.Params.Single.metatop -}}
                    {{- partial "partials/meta.html" (dict "context" $cuttent_page "kindctx" "page" "meta" . "class" "meta-top") -}}
                {{- end -}}
                </div>
                <div class="page-content post-content col mb-6">
                    {{- .Content -}}
                    {{/*- replace .Content .Summary "" | safeHTML -*/}}
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </section>
    {{- partial "partials/pagination-single.html" . -}}
    <section class="page-bottomline page-bottomline-tags-share mb-5">
        <div class="container limit-width">
            <div class="row row-cols-1 row-cols-sm-2">
                {{- partial "partials/widgets/post-tags.html" (dict "context" . "title" "Topics") -}}
                {{- partial "partials/widgets/share-links.html" (dict "context" . ) -}}
            </div>
        </div>
    </section>
    <section class="page-bottomline page-bottomline-authors pt-4 mb-5">
        <div class="container limit-width">
            <div class="row">
                {{- partialCached "partials/widgets/authors.html" (dict "context" . ) -}}
            </div>
        </div>
    </section>
    {{- $class := partialCached "class-columns.html" (.Site.Params.Single.relatedcolumns | default (dict "sm" 1 "md" 3 "lg" 3 "xl" 3)) "single" -}}
    <section class="page-bottomline page-bottomline-posts pt-4 mb-5">
        <div class="container">
            <div class="row">
                {{- partial "partials/widgets/related-posts.html" (dict "context" . "class" $class) -}}
            </div>
        </div>
    </section>
{{- end -}}