{{- define "main" -}}
    <div class="container limit-width">
        <div class="row">
            {{- $string := .Summary -}}
            {{- with .Description -}}{{- $string = . -}}{{- end -}}
            {{- with $string -}}
                <div class="page-summary col mb-5">
                    <p>{{- . | markdownify -}}</p>
                </div><!-- col -->
            {{- end -}}
        </div><!-- row -->
        <div class="row tags-list">
            <div class="col mb-4">
                {{- partialCached "partials/widgets/tags-cloud.html" (dict "context" .) -}}
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
{{- end -}}
