{{- $context        := .context                        -}}
{{- $kindctx        := .params.kindctx                 -}}
{{- $typectx        := .params.typectx                 -}}
{{- $display_image  := isset .context.Params "images"  -}}
{{- $meta           := .params.meta | default site.Data.default_params.params.meta.format_image_left -}}
<article class="post post-format post-format-image-left">
    <div class="row">
        {{- if $display_image -}}
        <div class="col-12 col-md-5">
            {{- partial "image.html" (dict "context" $context "Destination" $context.Params.images "Title" $context.Title "Text" $context.Title "Link" $context.RelPermalink "colnum" "multi") -}}
        </div><!-- col -->
        {{- end -}}
        <div class="col-12 {{ if $display_image -}}col-md-7{{- end -}}">
            <div class="post-inner">
                {{- with $meta.top -}}
                    {{- partial "partials/meta.html" (dict "context" $context "kindctx" $kindctx "typectx" $typectx "meta" . "class" "meta-top") -}}
                {{- end -}}
                <h2 class="post-title"><a href="{{- $context.RelPermalink -}}">{{- $context.Title -}}</a></h2>
                {{- with $meta.middle -}}
                    {{- partial "partials/meta.html" (dict "context" $context "kindctx" $kindctx "typectx" $typectx "meta" . "class" "meta-middle") -}}
                {{- end -}}
                {{- with $context.Summary -}}
                    <p class="post-summary">
                        {{- . -}}
                    {{/*- . | replaceRE "<p>(.*|\n)</p>"  "$1" | safeHTML -*/}}
                    </p>
                {{- end -}}
                {{- with $meta.bottom -}}
                   {{- partial "partials/meta.html" (dict "context" $context "kindctx" $kindctx "typectx" $typectx "meta" . "class" "meta-bottom") -}}
                {{- end -}}
            {{- if and (eq $kindctx "taxonomy") (eq $typectx "series") -}}
                {{- if $context.Pages }}
                    <p>{{- i18n "series-posts" -}}</p>
                    <ol>
                    {{- range $context.Pages.ByPublishDate }}
                        <li>
                            <a href="{{- .RelPermalink -}}" rel="bookmark">
                                {{- .Title }} ({{- .Date | time.Format (site.Params.FormatDate | default site.Data.default_params.formatdate)  -}})
                            </a>
                        </li>
                    {{- end }}
                    </ol>
                {{- else -}}
                    <p>{{- i18n "no-post-yet" -}}</p>
                {{- end }}
            </div>
            {{- end -}}
        </div><!-- col -->
    </div><!-- row -->
</article>