{{- $context        := .context                        -}}
{{- $kindctx        := .kindctx                        -}}
{{- $default_bottom := (dict "1" "date" "2" "reading") -}}
<article class="card">
    <div class="card-body">
        <h3 class="card-title post-title"><a href="{{- $context.RelPermalink -}}">{{- $context.Title -}}</a></h3>
        {{- with $context.Site.Params.PostList.metatop -}}
            {{- partial "partials/meta.html" (dict "context" $context "kindctx" $kindctx "meta" . "class" "meta-top") -}}
        {{- end -}}
        {{- with $context.Summary -}}
            <p class="post-summary card-text">
            {{- . | replaceRE "<p>(.*|\n)</p>"  "$1" | safeHTML -}}
            </p>
        {{- end -}}
        {{- with $context.Site.Params.PostList.metabottom | default $default_bottom -}}
            {{- partial "partials/meta.html" (dict "context" $context "kindctx" $kindctx "meta" . "class" "meta-bottom") -}}
        {{- end -}}
    </div><!-- card-body -->
</article>