{{- $context        := .context                        -}}
{{- $kindctx        := .kindctx                        -}}
{{- $default_bottom := (dict "1" "date" "2" "reading") -}}
{{- $meta          := site.Params.PostList.meta | default (dict "top" (dict "1" "section") "bottom" (dict "1" "tags" "2" "series")) -}}
<article class="post h-100">
    <div class="post-inner">
        {{- with $meta.top -}}
            {{- partial "partials/meta.html" (dict "context" $context "kindctx" $kindctx "meta" . "class" "meta-top post-format-no-image") -}}
        {{- end -}}
        <h3 class="post-title"><a href="{{- $context.RelPermalink -}}">{{- $context.Title -}}</a></h3>
        {{- with $meta.middle -}}
            {{- partial "partials/meta.html" (dict "context" $context "kindctx" $kindctx "meta" . "class" "meta-midle post-format-no-image") -}}
        {{- end -}}
        {{- with $context.Summary -}}
            <p class="post-summary">
            {{- . | replaceRE "<p>(.*|\n)</p>"  "$1" | safeHTML -}}
            </p>
        {{- end -}}
        {{- with $meta.bottom -}}
            {{- partial "partials/meta.html" (dict "context" $context "kindctx" $kindctx "meta" . "class" "meta-bottom post-format-no-image") -}}
        {{- end -}}
    </div><!-- post-inner -->
</article>