{{- $context        := .context                        -}}
{{- $kindctx        := .kindctx                        -}}
{{- $typectx        := .typectx                        -}}
{{- $display_image  := isset .context.Params "images"  -}}
{{- $meta_bottom    := $context.Site.Params.PostList.metabottom | default (dict "1" "date" "2" "reading") -}}
{{- if and (eq $kindctx "taxonomy") (eq $typectx "series") -}}
    {{- $meta_bottom = $context.Site.Params.SeriesList.metabottom | default (dict "1" "linkedsection") -}}
{{- end -}}
<article class="card">
    <div class="row">
        <div class="col-12 {{ if $display_image -}}col-md-7{{- end -}}">
            <div class="card-body pt-0">
                <h3 class="card-title post-title"><a href="{{- $context.RelPermalink -}}">{{- $context.Title -}}</a></h3>
                {{- with $context.Site.Params.PostList.metatop -}}
                    {{- partial "partials/meta.html" (dict "context" $context "kindctx" $kindctx "meta" . "class" "meta-top") -}}
                {{- end -}}
                {{- with $context.Summary -}}
                    <p class="post-summary card-text">
                    {{- . | replaceRE "<p>(.*|\n)</p>"  "$1" | safeHTML -}}
                    </p>
                {{- end -}}
                {{- with $meta_bottom -}}
                   {{- partial "partials/meta.html" (dict "context" $context "kindctx" $kindctx "typectx" $typectx "meta" . "class" "meta-bottom") -}}
                {{- end -}}
            </div><!-- card-body -->
            {{- if and (eq $kindctx "taxonomy") (eq $typectx "series") -}}
                <div class="card-footer">
                {{- if $context.Pages }}
                    <p>{{- i18n "series-posts" -}}</p>
                    <ol>
                    {{- range $context.Pages.ByPublishDate }}
                        <li>
                            <a href="{{- .RelPermalink -}}" rel="bookmark">
                                {{- .Title }} ({{- .Date | time.Format (.Site.Params.FormatDate | default "2-Jan-2006")  -}})
                            </a>
                        </li>
                    {{- end }}
                    </ol>
                {{- else -}}
                    {{- i18n "no-post-yet" -}}
                {{- end }}
                </div><!-- card-footer -->
            {{- end -}}
        </div><!-- col -->
        {{- if $display_image -}}
        <div class="col-12 col-md-5">
            {{- partial "image.html" (dict "context" $context "Destination" $context.Params.images "Title" $context.Title "Text" $context.Title "Class" "pt-1") -}}<!-- "Link" $context.RelPermalink -->
        </div><!-- col -->
        {{- end -}}
    </div><!-- row -->
</article>