{{- $context        := .context                        -}}
{{- $kindctx        := .params.kindctx                 -}}
{{- $typectx        := .params.typectx                 -}}
{{- $display_image  := isset .context.Params "images"  -}}
{{- $meta           := .params.meta | default site.Data.default_params.params.meta.format_meta_left -}}
<article class="post post-format post-format-meta-left">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-4 col-lg-9 offset-lg-3">
                <h2 class="post-title"><a href="{{- $context.RelPermalink -}}">{{- $context.Title -}}</a></h2>
            </div><!-- col -->
        </div><!-- row -->
        <div class="row">
            {{- with $meta.top -}}
            <div class="col-12 col-md-4 col-lg-3">
                {{- partial "partials/meta.html" (dict "context" $context "kindctx" $kindctx "typectx" $typectx "meta" . "class" "meta-top") -}}
            </div><!-- col -->
            {{- end -}}
            <div class="col-12 col-md-8 col-lg-9 post-summary">
            {{- with $context.Summary -}}
                <!--<p>-->{{/*- . -*/}}<!--</p>-->
                {{- . | replaceRE "<p></p>"  "" | safeHTML -}}
            {{- end -}}
            {{- if $display_image -}}
                {{- partial "image.html" (dict "context" $context "Destination" $context.Params.images "Title" $context.Title "Text" $context.Title "colunm" "multi") -}}<!-- "Link" $context.RelPermalink -->
            {{- end -}}
            </div><!-- col -->
        </div><!-- row -->
    {{- if and (eq $kindctx "taxonomy") (eq $typectx "series") -}}
        {{- if $context.Pages }}
                <p>{{- i18n "series-posts" -}}</p>
                <ol>
                {{- range $context.Pages.ByPublishDate }}
                    <li>
                        <a href="{{- .RelPermalink -}}" rel="bookmark">
                            {{- .Title }} ({{- .Date | time.Format (site.Params.FormatDate | default site.Data.default_params.formatdate)  -}})
                        </a>
                    </li>
                {{- end }}
                </ol>
        {{- else -}}
            <p>{{- i18n "no-post-yet" -}}</p>
        {{- end }}
    {{- end }}
</article>