@use "sass:map";

$floral-white: #fffcf2ff;
$pale-silver: #ccc5b9ff;
$black-olive: #403d39ff;
$eerie-black: #252422ff;
$flame: #eb5e28ff;

$bdazzled-blue: #3d5a80ff;
$dark-sky-blue: #98c1d9ff;
$light-cyan: #e0fbfcff;
$burnt-sienna: #ee6c4dff;
$gunmetal: #293241ff;

$imperial-red: #e63946ff;
$honeydew: #f1faeeff;
$powder-blue: #a8dadcff;
$celadon-blue: #457b9dff;
$prussian-blue: #1d3557ff;

$space-cadet: #2b2d42ff;
$manatee: #8d99aeff;
$cultured: #edf2f4ff;
$imperial-red: #ef233cff;
$amaranth-red: #d90429ff;

$barn-red: #780000ff;
$venetian-red: #c1121fff;
$papaya-whip: #fdf0d5ff;
$prussian-blue: #003049ff;
$air-superiority-blue: #669bbcff;

/* --- Variable customization ------------- */
/*
$primary:       $flame;
$secondary:     $pale-silver;
$light:         $floral-white;
$medium:        $black-olive;
$dark:          $eerie-black;
*/
/*
$primary:       $burnt-sienna;
$secondary:     $dark-sky-blue;
$light:         $light-cyan;
$medium:        $bdazzled-blue;
$dark:          $gunmetal;
*/

$primary:       $imperial-red;
$secondary:     $powder-blue;
$light:         $honeydew;
$medium:        $celadon-blue;
$dark:          $prussian-blue;

/*
$primary:       $barn-red;
$secondary:     $air-superiority-blue;
$light:         $papaya-whip;
$medium:        $air-superiority-blue;
$dark:          $prussian-blue;
*/
// Boostrap customization
@import "custom";

// Set of icons
@import "bootstrap-icons-1.8.1/bootstrap-icons";

// Code highlight
@import "monokai";

// Lightbox
@import "simple-lightbox-2.10.3/simple-lightbox.scss";


/* ----------------------------------------- */
/* --- Common styles ----------------------- */
/* ----------------------------------------- */

/* ----- General ---------------------------- */
@media (min-width: map-get($grid-breakpoints, "md")) {
    .limit-width {
        width: 960px!important;
    }   
}

.inline-list {

    list-style-type: none;
    padding-left: 0;

    li {
        white-space: nowrap;
        display: inline-block;
        margin-right: 0.5 * $spacer;
    }

    li:last-child {
        margin-right: 0;
    }
}

@media (min-width: map-get($grid-breakpoints, "md")) {
    .inline-list li {
        margin-right: $spacer;
    }
}

@media (min-width: map-get($grid-breakpoints, "lg")) {
    .inline-list li {
        margin-right: 1.5 * $spacer;
    }
}

.ratio {
    background-color: $light;
    border: 1px solid $secondary;
    text-align: center;
    vertical-align: middle;
}

h2 {
    line-height: 1.5;
    color: $primary;
}

h3 {
    line-height: 1;
    color: $dark;
}

h4 {
    line-height: 1.2273;
    color: $dark;
}

/* ----------------------------------------- */
/* --- Header ------------------------------ */
/* ----------------------------------------- */

#page-header {
    background-color: white;
}

@media (min-width: map-get($grid-breakpoints, "md")) {

    .search-form {
        width: 50%;
    }
}

.search-form {
    position: relative;
}

.search-form i {
    --bs-text-opacity: 1;
    color     : #6c757d!important;
    transform : translateY(-50%)!important;
    position  : absolute!important;
    right     : 0!important;
    top       : 50%!important;
}

/* ----------------------------------------- */
/* --- Navigation / Main menu -------------- */
/* ----------------------------------------- */

.navbar-nav .nav-item {
    font-size: $font-size-lg;
    font-variant: small-caps;
}

.nav-item .active {
    border-top: 1px solid $secondary;
    border-bottom: 1px solid $secondary;
}

/* ------------------------------------------ */
/* --- Headline ----------------------------- */
/* ------------------------------------------ */

#page-headline {
    background-color: $light;
}

/* ------------------------------------------ */
/* --- Post-list ---------------------------- */
/* ------------------------------------------ */

.post-list h3 a {

    color: $dark;
    text-decoration: none;

    &:hover {
        color: $primary;
        text-decoration: underline;
    }
}

.page-summary,
.post-summary {
    text-align: justify;
}


/* ------------------------------------------ */
/* --- Content basic styles ----------------- */
/* ------------------------------------------ */
.post-content {
    text-align: justify;

    h2 {
        margin-top: 2.25em;
        margin-bottom: 1.5em;
    }
    
    h3 {
        margin-top: 2em;
        margin-bottom: 1em;
    }
    
    h4 {
        margin-top: 2,4546em;
        margin-bottom: 1,2273em;
    }
}

article.card {
    border: 0;
}
/*
.toc {
    float: right;
    display: block;
    width: 50%;
    margin-left: $spacer;
    border: 1px solid $medium;

    margin-top: 5.0625em;

    font-size: 1rem;
    line-height: 1.6875;
    // text-align: left;
}

@media (min-width: map-get($grid-breakpoints, "md")) {
    .toc {
        float: right;
        display: block;
        width: 30%;
        margin-left: $spacer;
    }

}
*/
.post-meta {
    font-size: 1rem;
    line-height: 1.6875;
    list-style-type: none;
    padding-left: 0;

    li {
        white-space: nowrap;
        display: inline-block;
        margin-right: 0.5 * $spacer;
    }

    li:last-child {
        margin-right: 0;
    }
}

@media (min-width: map-get($grid-breakpoints, "md")) {
    .post-meta li {
        margin-right: $spacer;
    }
}

@media (min-width: map-get($grid-breakpoints, "lg")) {
    .post-meta li {
        margin-right: 1.5 * $spacer;
    }
}

.post-format-meta-left {

    li {
        white-space: normal;
        display: block;
        text-align: right;
        margin-right: 0;
        margin-bottom: $spacer;
    }
}

/* ------------------------------------------ */
/* --- Figures / Images --------------------- */
/* ------------------------------------------ */

.figure {
    margin-bottom: 3 * $spacer;
}
  
.figure-img {
    margin-bottom: $spacer * .5;
    line-height: 1;
}

.figure-center {
    display:block!important;
    text-align: center;
}
  
.figure-caption {
    margin-top: 0.25rem;
    font-style: italic;
}


/* ------------------------------------------ */
/* --- Tables ------------------------------- */
/* ------------------------------------------ */

.table {
    margin-bottom: 3 * $spacer;
}


/* ------------------------------------------ */
/* --- Blokcquote --------------------------- */
/* ------------------------------------------ */

blockquote {
    position: relative;

    border: 1px solid $pale-silver;
    border-left: 15px solid $pale-silver;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 2rem 3rem 2rem 5rem;
}

blockquote p {
    margin-bottom: 0;
}

blockquote p:before {
    display: inline-block;
    font-family: $bootstrap-icons-font !important;
    font-size: 2rem;
    line-height: 1;
    vertical-align: -.125em;

    position: absolute;
    left: 1rem;
    top: -1rem;
    content: "\f6b0";
    color: $pale-silver;
    background-color: white;
}

blockquote.info {
    border-color: $blue-300;
}

blockquote.info p:before {
    content: "\f431";
    color: $blue-300;
}

blockquote.warning {
    border-color: orange;
}

blockquote.warning p:before {
    content: "\f335";
    color: orange;
}

blockquote.error {
    border-color: red;
}

blockquote.error p:before {
    content: "\f629";
    color: red;
}


/* ------------------------------------------ */
/* --- Gallery ------------------------------ */
/* ------------------------------------------ */

$gallery-margin-bottom   : 3rem;
$gallery-margin          : 2rem;
$gallery-hover-scale     : 1.15;
$gallery-caption-fontsize: $font-size-sm;

.gallery-wrapper {
    justify-content : center;
    margin-bottom   : $gallery-margin-bottom;
}

.gallery {
    display   : flex;
    flex-wrap : wrap;
    margin    : (-1 * $gallery-margin) (-1 * $gallery-margin);
}

.gallery-thumb {
    position   : relative;
    margin     : $gallery-margin;
    // box-shadow : 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    box-shadow : 0.4rem 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
    overflow   : hidden;
}

.gallery-image {
    display    : block;
    width      : 100%;
    height     : auto;
    object-fit : cover;
    transition : transform 400ms ease-out;
}

.gallery-thumb a {
    color: white;
    text-decoration: none;
}

.gallery-thumb a:hover .gallery-image {
    transform: scale($gallery-hover-scale);
}

.gallery-thumb figcaption  {
    position   : absolute;
    bottom     : 0;
    left       : 0;
    right      : 0;
    transition : 0.5s ease;
    background-color: black;
    opacity    : 0;

    text-align : center;
    font-size  : $gallery-caption-fontsize;
    padding    : 0.5rem 0;
}

.gallery-thumb figcaption.center {
    padding: 45% 0;
    top: 0;
}

.gallery-thumb a:hover figcaption  {
    opacity: 0.55;
}

/* ------------------------------------------ */
/* --- Pagination --------------------------- */
/* ------------------------------------------ */

.page-bottomline-prev-next/*,
.page-bottomline-pagination */{
    border-top: 1px solid $pagination-border-color;
    border-bottom: 1px solid $pagination-border-color;
}

.page-bottomline-prev-next {

    a {
        display: block;
    }

    p {
        margin-bottom: 0;
    }

    a:hover {
        background-color: $pagination-hover-bg;
        color: $dark;
        border-radius: $pagination-border-radius;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
    }

    li {
        line-height: 2;
    }

    .disabled {
        color: $gray-400;
    }
}


/* ------------------------------------------ */
/* --- Bottom lines-------------------------- */
/* ------------------------------------------ */

.page-bottomline-authors {
    background-color: $light;
}

/* ------------------------------------------ */
/* --- Footer ------------------------------- */
/* ------------------------------------------ */

#page-footer {
    background-color: $dark;
    color: $light;

    h2,h3,h4 {
        color: white;
    }

    a {
        color: white;

        &:hover {
            color: $primary;
        }
    }

    li>a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    li { 
        line-height: 3;
        padding-left: 0.5 * $spacer;
        width: 75%;
    }

    li:last-child {
        border-bottom: 0;
    }
}

.footer-main,
.footer-top {

    .col {
        margin-bottom: 2 * $spacer;
    }

    .col:last-child {
        margin-bottom: 0;

    }
    padding-top: 2* $spacer;
    padding-bottom:  $spacer;
}


.footer-main {
    background-color: $medium;
    li {
        border-bottom: 1px solid tint-color($medium, 20%);
    }

}

.footer-top {

    li {
        border-bottom: 1px solid tint-color($dark, 20%);
    }

}

/* ------------------------------------------ */
/* --- Style for the style guide page ------- */
/* ------------------------------------------ */

.palette {
    div {
        height: 80px;
        text-align: center;
        vertical-align: middle;
    }
}

/* ------------------------------------------ */
/* --- Widgets ------------------------------ */
/* ------------------------------------------ */

.widget {
    border: 0;   
}

.widget-follow {
    p, ul {
        display: inline;
    }
/*
    i {
        font-size: 1.5rem;
    }
*/
    p {
        margin-right: 0.5 * $spacer;
    }
}

.widget-logo {
    text-align: center;
}

a + .widget-title {
    margin-top: 0.5 * $spacer!important;
}

.author-picture {
    float           : left;
    border-radius   : 50%;
    overflow        : hidden;
    margin-bottom   : 1rem;
}

.author-description {
    text-align: justify;
}

.widget-tags-cloud a {
    text-decoration: none;
    margin-right: 1rem;
    white-space: nowrap;

    &:hover {
        text-decoration: underline;
    }
}

.widget-series-images .card-footer ol {
    font-size: 1rem;
    line-height: 1.6875;
}

/* ------------------------------------------ */
/* --- homepage ----------------------------- */
/* ------------------------------------------ */

.homepage {
    margin-bottom: $spacer;

    h2 {
        margin-top: 0;
        margin-bottom: 1.125em;
        padding-bottom: 0.2em;
        color: $primary;
        position: relative;

        &:after {
            content: "";
            bottom: 0;
            left: 0;
            position: absolute;
            width: 20%;
            border-bottom: 3px solid $primary;
        }
    }

    h3 {
        /* margin-top: 0;*/
        /*margin-bottom: 1em;*/
    }

    h3 a {
        text-decoration: none;
        color: $dark;

        &:hover {
            text-decoration: underline;
            color: $primary;
        }
    }
}

@media (min-width: map-get($grid-breakpoints, "md")) {
    
    .homepage {
        margin-bottom: 3 * $spacer;
    }
}

@media print {

    #page-header, #posts-comments, .breadcrumb, 
    .page-bottomline-prev-next, .page-bottomline-yzgd-share, .page-bottomline-related, 
    .footer-top, .footer-main {
        display: none;
    }

    * {
        color: #000;    
        background-color: #fff;
    }

    body {
        font-size: 1rem !important;
        line-height: 1.5 !important;
    }

    a:after {
        content: "( "attr(href)" )";
    }
}