{{- $fav_path := "favicons" -}}
{{- $base_path := path.Join "/static" $fav_path -}}
{{- if fileExists $base_path -}}
    {{- range (readDir $base_path) -}}
        {{- $fullname := path.Join $base_path .Name -}}
        {{- $url := (path.Join $fav_path .Name) | relURL -}}
        {{- $ext := path.Ext .Name -}}
        {{- if eq (substr .Name 0 5) "apple" -}}
            {{ with (imageConfig $fullname) }}
                <link rel="apple-touch-icon" href="{{- $url -}}" sizes="{{- .Width -}}x{{- .Height -}}" />
            {{- end -}}   
        {{- else if eq (substr .Name 0 6) "safari" -}}
            <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="{{- site.Params.safaritabColor | default "#ffffff" -}}">
        {{- else if eq (substr .Name 0 2) "ms" -}}
            <meta name="msapplication-TileColor" content="{{- site.Params.mstileColor | default "#00aba9" -}}" />
            <meta name="msapplication-TileImage" content="{{- $url -}}" />
        {{- else if eq (substr .Name 0 8) "favicon-" -}}
            {{ with (imageConfig $fullname) }}
                <link rel="icon" type="image/png" href="{{- $url -}}" sizes="{{- .Width -}}x{{- .Height -}}" />
            {{- end -}}
        {{- else if eq .Name "favicon.ico" -}}
            <link rel="icon" href="{{- $url -}}" />            
        {{- end }}
    {{- end }}
{{- end -}}
{{- if fileExists "/static/favicon.ico" -}}
    <link rel="shortcut icon" href="/favicon.ico" />            
{{- end -}}
{{ with site.Params.themeColor }}
    <meta name="theme-color" content="{{- . -}}" />
{{- end -}}
{{ with site.Params.appName }}
    <meta name="application-name" content="{{- . -}}" />
    <meta name="apple-mobile-web-app-title" content="{{- . -}}" />
{{- end -}}
<meta name="msapplication-config" content="{{- path.Join $fav_path "browserconfig.xml" -}}" />
