{{- $context := . -}}
<footer id="page-footer">
    <section class="footer-top pt-4 pb-4">
        <div class="container">
            {{- template "groups_list" (dict "context" $context "gl" (.Site.Params.Footer.Top | default .Site.Data.footer_top) ) -}}
        </div><!-- container -->
    </section>
    <section class="footer-main pt-4 pb-4">
        <div class="container">
            {{- template "groups_list" (dict "context" $context "gl" (.Site.Params.Footer.Main | default .Site.Data.footer_main) ) -}}
        </div><!-- container -->
    </section>
    <section class="footer-bottom pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <p>{{- .Site.Copyright | safeHTML -}}</p>
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </section>
</footer>
{{- define "groups_list" -}}
    {{- $context := .context -}}
    {{- if gt (len .gl.Groups) 1 -}}
        {{- $columns := .gl.columns | default (dict "def" 1 "sm" 1 "md" 1 "lg" 2 "xl" 2) -}}
        {{- $class := partialCached "class-columns.html" $columns (printf "%x" $columns)  -}}
    <div class="{{- $class -}}">
        {{- range .gl.Groups -}}
            {{- if gt (len .Widgets) 1 -}}
                {{- $columns := .columns | default (dict "def" 1 "sm" 1 "md" 1 "lg" 1 "xl" 1) -}}
                {{- $class := partialCached "class-columns.html" $columns (printf "%x" $columns)  -}}
                <div class="col">
                    <div class="{{- $class -}}">
            {{- end -}}
            {{- template "widgets_list" (dict "context" $context "group" . ) -}}
            {{- if gt (len .Widgets) 1 -}}
                    </div><!-- row -->
                </div><!-- col -->
            {{- end -}}
        {{- end -}}
    </div><!-- row -->
    {{- else -}}
        {{- range .gl.Groups -}}
            {{- $columns := .columns | default (dict "def" 1 "sm" 1 "md" 1 "lg" 1 "xl" 1) -}}
            {{- $class := partialCached "class-columns.html" $columns (printf "%x" $columns)  -}}
            <div class="{{- $class -}}">
                {{- template "widgets_list" (dict "context" $context "group" .) -}}
            </div>
        {{- end -}}
    {{- end -}}
{{- end -}}
{{- define "widgets_list" -}}
    {{- $context := .context -}}
    {{- range .group.Widgets -}}
        {{- $partialPath := printf "partials/widgets/%s.html" .wtype -}}
        {{- if templates.Exists $partialPath -}}
            {{- if .cache | default false -}}
                {{- partialCached $partialPath (dict "context" $context "params" .params) (printf "%s-%x" .wtype .params) -}}
            {{- else -}}
                {{- partial $partialPath (dict "context" $context "params" .params) -}}
            {{- end -}}
        {{- else -}}
            {{- partial "partials/widgets/default.html" (dict "context" $context "params" .wtype) -}}
        {{- end -}}
    {{- end -}}
{{- end -}}