<footer id="page-footer">
    <section class="footer-main py-4">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col">
                    <aside class="widget widget-about mb-5">
                        <h3>A propos</h3><p>A travers ce blog, je tente de partager avec vous, connaissances, opinions, avis, humeurs, sur les technologies web, et la photographie. Les articles présentés sont le résultat de mes découvertes dans ces deux domaines.</p>
                    </aside>
                </div>
                <div class="col">
                    <aside class="widget widget-text mb-5">
                        <h3>Liens</h3>
                        <ul>
                            <li><a href="#">A propos</a></li>
                            <li><a href="#">Mentions légales</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </aside>
                    <aside class="widget widget-follow mb-5">
                        <h3>Suivez-moi !</h3>
                        <ul>
                            <li class="d-inline d-sm-block"><a href="#"><i class="bi-facebook"></i> <span class="d-none d-sm-inline">Facebook</span></a></li>
                            <li class="d-inline d-sm-block"><a href="#"><i class="bi-twitter"></i> <span class="d-none d-sm-inline">Twitter</span></a></li>
                            <li class="d-inline d-sm-block"><a href="#"><i class="bi-pinterest"></i> <span class="d-none d-sm-inline">Pinterest</span></a></li>
                            <li class="d-inline d-sm-block"><a href="#"><i class="bi-linkedin"></i> <span class="d-none d-sm-inline">LinkedIn</span></a></li>
                        </ul>
                    </aside>
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </section>
    <section class="footer-bottom py-3">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <p class="d-md-inline me-md-5">&copy; Copyright 2008-2022 - Emmanuel GEORJON</p>
                    <p class="d-md-inline">CC XX.YY.ZZ 4.0</p>
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </section>
</footer>