<section id="page-headline">
    <div class="container">
        <div class="row">
            <div class="col">
                {{- partial "partials/breadcrumb.html" . -}}
                <h1>{{- if eq .Kind "404" -}}{{- i18n "404-page-not-found" -}}{{- else -}}{{- .Title -}}{{- end -}}
                    {{- if and (eq .Kind "section") (ne .Type "search") -}}
                        {{- with .OutputFormats.Get "rss" -}}
                            {{- printf `<a rel="%s" href="%s" title="%s" ><i class="bi-rss"></i></a>` .Rel .Permalink "RSS feed" | safeHTML -}}
                        {{- end -}}
                    {{- end -}}
                </h1>
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->       
</section>