<header id="page-header" class="sticky-top pb-2">
    <div class="navbar navbar-expand-md navbar-light">
        <div class="container">
            {{- $title := site.Title -}}
            {{- with site.Params.BrandTitle -}}{{- $title = . -}}{{- end -}}
            {{- with site.Params.BrandLogo -}}
                {{- $abs_path := path.Join "/static" . -}}
                {{- if fileExists $abs_path -}}
                    {{- with imageConfig $abs_path -}}
                        <a class="navbar-brand me-auto" href="{{- site.BaseURL -}}" title="{{- $title -}}">
                            <img id="logo" class="site-brand-logo" src="{{- site.Params.BrandLogo | relURL -}}" width="{{- .Width -}}" height="{{- .Height -}}" alt="{{- $title -}}" />
                        </a>
                    {{- end -}}
                {{- else -}}
                    <a class="navbar-brand me-auto" href="{{- site.BaseURL -}}" title="{{- $title -}}">
                        {{- $title -}}
                    </a>                    
                {{- end -}}
            {{- end -}}
            {{- $search_page := site.GetPage "search" -}}
            <form class="search-form input-group d-none d-md-flex" action="{{- $search_page.Permalink -}}" method="GET">
                <input class="form-control pe-5" type="text" name="s" placeholder="{{- i18n "search-please-enter" -}}" />
                <i class="bi-search me-3"> </i>
            </form>
            <div class="d-flex flex-shrink-0"><!-- align-items-center -->
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div><!-- container -->
    </div><!-- navbar -->
    <div class="navbar navbar-expand-md">
        <div class="container">
            <div class="navbar-collapse collapse justify-content-center" id="navbarCollapse">
                <form class="search-form input-group d-md-none my-3">
                    <i class="bi-search"> </i>
                    <input class="form-control" type="text" placeholder="{{- i18n "search-please-enter" -}}">
                </form>
                <ul class="navbar-nav">
                    {{- $currentPage := .CurrentSection -}}
                    {{- range site.Menus.main -}}
                        {{- $active := ""    -}}
                        {{- $link   := .Name -}}
                        {{- if or ($currentPage.IsMenuCurrent "main" . ) ($currentPage.HasMenuCurrent "main" .) -}}
                            {{- $active = " active" -}}
                            {{- $link   = printf "%s<span class=\"visually-hidden\"> (%s)</span>" .Name (i18n "current") -}}
                        {{- end }}
                        <li class="nav-item">
                            <a class="nav-link {{- $active -}}" href="{{- .URL | absURL -}}" id="{{- .Identifier -}}" title="{{- .Name -}}">{{- safeHTML $link -}}</a>
                        </li>
                    {{- end -}}
                </ul>
            </div><!-- navbar-collapse -->
        </div><!-- container -->
    </div><!-- navbar-expand -->
</header>