<section class="page-bottomline page-bottomline-prev-next pt-4 pb-4 mb-5">
    <div class="container limit-width">
        <div class="row">
            <div class="col-6 col-md-4">
                {{- with .PrevInSection -}}
                    <a href="{{- .RelPermalink -}}" title="Previous post: {{- .Title | safeHTML -}}">
                        <p><i class="bi-chevron-compact-left"></i><span class="d-none d-sm-inline">Previous Post</span></p>
                        <p class="d-none d-md-inline">{{- .Title | safeHTML -}}</p>
                    </a>
                {{- else -}}
                    <p class="disabled"><i class="bi-chevron-compact-left"></i><span class="d-none d-sm-inline">Previous Post</span></p>
                {{- end -}}
            </div><!-- col -->
            <div class="col-4 d-none d-md-block text-center">
                <ul>
                    <li><a href="{{- "/" | absURL -}}" title="Go back to home">Home</a></li>
                    {{- with .Parent -}}
                        <li><a href="{{- .RelPermalink -}}" title="All post from {{ .Title -}}">{{- .Title | safeHTML -}}</a></li>
                    {{- end -}}
                </ul>
            </div>
            <div class="col-6 col-md-4 text-end">
                {{- with .NextInSection -}}
                    <a href="{{- .RelPermalink -}}" title="Next post: {{- .Title | safeHTML -}}">
                        <p><span class="d-none d-sm-inline">Next Post</span><i class="bi-chevron-compact-right"></i></p>
                        <p class="d-none d-md-inline">{{- .Title | safeHTML -}}</p>
                    </a>
                {{- else -}}
                    <p class="disabled"><span class="d-none d-sm-inline">Next Post</span><i class="bi-chevron-compact-right"></i></p>
                {{- end -}}
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
</section>