{{- $context        := .context                        -}}
{{- $kindctx        := .kindctx                        -}}
{{- $default_bottom := (dict "1" "date" "2" "reading") -}}
{{- $display_image  := and (isset .context.Params "images") (.context.Site.Params.PostList.displayimage | default false) -}}
{{- $post_columns   := .context.Site.Params.PostList.PostColumns | default 2 -}}
<article class="card">
    <div class="row">
        {{- if $display_image -}}
        <div class="col-12 {{ if gt $post_columns 1 -}}col-md-5{{- end -}}">
            {{- partial "image.html" (dict "context" $context "Destination" $context.Params.images "Title" $context.Title "Text" $context.Title "Class" "pt-1" "Link" $context.RelPermalink) -}}
        </div><!-- col -->
        {{- end -}}
        <div class="{{- if $display_image -}}col-12 {{ if gt $post_columns 1 -}}col-md-7{{- end -}}{{- else -}}col{{- end -}}">
            <div class="card-body">
                <h3 class="card-title post-title"><a href="{{- $context.RelPermalink -}}">{{- $context.Title | safeHTML -}}</a></h3>
                {{- with $context.Site.Params.PostList.metatop -}}
                    {{- partial "partials/meta.html" (dict "context" $context "kindctx" $kindctx "meta" . "class" "meta-top") -}}
                {{- end -}}
                {{- with $context.Summary -}}
                    <p class="post-summary card-text">
                    {{- . | replaceRE "<p>(.*|\n)</p>"  "$1" | safeHTML -}}
                    </p>
                {{- end -}}
                {{- with $context.Site.Params.PostList.metabottom | default $default_bottom -}}
                   {{- partial "partials/meta.html" (dict "context" $context "kindctx" $kindctx "meta" . "class" "meta-bottom") -}}
                {{- end -}}
            </div><!-- card-body -->
        </div><!-- col -->
    </div><!-- row -->
</article>